*{
    box-sizing: border-box;
    padding: 0;
    color: #eed;
}

.loginSignup-button{
    text-align: right;
    margin-right: 2px;
    cursor: pointer;
    font-size: 1.2rem;
}

.loginSignup-button span:hover{
    color: rgb(100, 255, 100);
}
/* background color */
body{
    background-image: linear-gradient( to right ,purple ,rgb(176, 59, 151));
}

/* aligning all headings to center */
h1,h3{
    text-align: center;
}

/* centering the contents of the game container */
.game_container{
    display: grid;
    justify-content: center;
    margin-top: 12vh;
}

/* adding border to hangman figure and the unknown word */
.figure-keyboard{
     margin-bottom: 15vh ;
     display: flex;
     /* background-color: antiquewhite; */
}

.figure-container{
    margin-right:150px ;
    /* display: none; */
}
.figure-part{
    r : 0;
    stroke-width: 0;
}


/* designing keyboard of all alphabets */
.keyboard{
    background-color: rgb(216, 151, 199);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
}

.alphaKeys{
    width: 5.5rem;
    height: 5.5rem;
    color: black;
    font-size: large;
    background-color: yellow;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.alphaKeys:hover{
    opacity: 0.5;
    color: black;
    /* background-color: rgb(218, 236, 22); */
    /* color: black; */
    /* background-color: blue; */
}
.wrongLetter{
    background-color: red;
    color: white;
}

.wrongLetterList{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.rightLetter{
    background-color: green;
    color: white;
}


.row{
    text-align: center;
}
.word{
    text-align: center;
    margin-bottom: 6vh ;
}





/* designing the slot for unknown word */

.letter{
    border-bottom: 3px solid white;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0  0.5rem 0 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* font-display: 0; */
    /* visibility: hidden; */
}


.word .space{
    border: none;
    
}
/* designoing popup menu */

.bgModel{
    background-color: rgba(0, 0, 0 ,0.7);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    /* opacity: 0.7; */
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup{
    /* min-height: 25vh; */
    width: 25vw;
    background-color: rgb(145, 51, 228);
    border-radius: 5%;
    border: 3px solid black;
    box-shadow: 5px 5px rgba(254, 254, 254, 0.421);
    font-size: 1.3rem;
    padding: 10px;

    /* line-height: 1.3rem; */
    /* display: none; */
    
}

.popup p{
    text-align: center;
}

.popup p:hover{
    color: rgb(61, 252, 61);
    cursor: pointer;
}
.popup-close{
    /* padding: 1rem; */
    background-color: rgb(145, 51, 228);
    margin-left: 95%;
    /* border-radius: 50%; */
    font-size: 1.2rem;
    border: none;
}

.signuppop , .loginpop{
   display: none;
}

.popup input{
    margin: 10px;
    color: black;
}
.submitButton{
    background-color: rgb(89, 5, 167);
    padding: 10px;
    margin: 0 40%;
}